<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>MS in Computer Science</h1>
            <span>University of Delaware</span>
            <span><address>Newark, DE</address><time>2018 to 2020</time></span>
        </header>
        <!-- <p>
            <em>Thesis: Nemore verear an eos, duo accusam placerat urbanitas at, vix libris putent voluptaria ei.</em>
        </p> -->
    </article>
    <article>
        <header>
            <h1>Bachelor of Computer Engineering</h1>
            <span>University of Delaware</span>
            <span><address>Newark, DE</address><time>2014 to 2018</time></span>
        </header>
        <!-- <p>
            <em>Dissertation: Te dicit scripta nec, nec illud decore partem et.</em>
        </p> -->
    </article>
</section>
